# Data Preparation:

In [1]:
import numpy as np
import pandas as pd

In [2]:
#df1 = pd.read_csv("/kaggle/input/ims-dataset-1/bearing_datase1.csv")
#df2 = pd.read_csv("/kaggle/input/bearings-dataset2-csv/combined_bearings_data.csv")
df3 = pd.read_csv("/kaggle/input/imsbearing-test-data/bearing_dataset3.csv")

In [ ]:
# save to working directory
#df1.to_parquet('df1.parquet')
#df2.to_parquet('df2.parquet')
#df3.to_parquet('df3.parquet')

In [13]:
df3.head()

   index            timestamp  bearing1  bearing2  bearing3  bearing4
0      0  2004.03.04.09.27.46     0.034     0.264     0.039    -0.046
1      1  2004.03.04.09.27.46     0.103     0.083    -0.061    -0.012
2      2  2004.03.04.09.27.46     0.095    -0.039    -0.007     0.039
3      3  2004.03.04.09.27.46     0.000     0.110     0.022    -0.002
4      4  2004.03.04.09.27.46     0.005     0.154    -0.127    -0.020

## Trying to create a process that creates individual dataframes for each bearing and also corrects the timestamp to a date format and adds a label for each

# Preparation of Dataframes

## Dataset 1 bearing 1

In [5]:
#first i need to create the dataframe by dropping the other columns
df1_bearing1_ch1 = df1.drop(["bearing1_ch2","bearing2_ch3","bearing2_ch4","bearing3_ch5","bearing3_ch6","bearing4_ch7","bearing4_ch8","index"], axis=1)
# then I need to change the timestamp to datetime
df1_bearing1_ch1['timestamp'] = pd.to_datetime(df1_bearing1_ch1['timestamp'], format='%Y.%m.%d.%H.%M.%S')
# then i am going to need to label, now the thing is, each bearing has its own labeling so i am going to need to do it individually
df1_bearing1_ch1['label'] = np.where(
    df1_bearing1_ch1['timestamp'] <= '2003-11-17 19:42:30', 0, np.nan)

df1_bearing1_ch1 = df1_bearing1_ch1.dropna(subset=['label'])
# save to working directory
df1_bearing1_ch1.to_parquet('df1_bearing1_ch1.parquet')
#__________________________________________________________________
df1_bearing1_ch2 = df1.drop(["bearing1_ch1","bearing2_ch3","bearing2_ch4","bearing3_ch5","bearing3_ch6","bearing4_ch7","bearing4_ch8","index"], axis=1)
# then I need to change the timestamp to datetime
df1_bearing1_ch2['timestamp'] = pd.to_datetime(df1_bearing1_ch2['timestamp'], format='%Y.%m.%d.%H.%M.%S')
# then i am going to need to label, now the thing is, each bearing has its own labeling so i am going to need to do it individually
df1_bearing1_ch2['label'] = np.where(
    df1_bearing1_ch2['timestamp'] <= '2003-11-17 19:42:30', 0, np.nan)

df1_bearing1_ch2 = df1_bearing1_ch2.dropna(subset=['label'])
# save to working directory
df1_bearing1_ch2.to_parquet('df1_bearing1_ch2.parquet')

## Dataset 1 bearing 2

In [6]:
#first i need to create the dataframe by dropping the other columns
df1_bearing2_ch3 = df1.drop(["bearing1_ch1","bearing1_ch2","bearing2_ch4","bearing3_ch5","bearing3_ch6","bearing4_ch7","bearing4_ch8","index"], axis=1)
# then I need to change the timestamp to datetime
df1_bearing2_ch3['timestamp'] = pd.to_datetime(df1_bearing2_ch3['timestamp'], format='%Y.%m.%d.%H.%M.%S')
# then i am going to need to label, now the thing is, each bearing has its own labeling so i am going to need to do it individually
df1_bearing2_ch3['label'] = np.where(
    df1_bearing2_ch3['timestamp'] <= '2003-11-17 19:42:30', 0, np.nan)

df1_bearing2_ch3 = df1_bearing2_ch3.dropna(subset=['label'])

#__________________________________________________________________
df1_bearing2_ch4 = df1.drop(["bearing1_ch1","bearing1_ch2","bearing2_ch3","bearing3_ch5","bearing3_ch6","bearing4_ch7","bearing4_ch8","index"], axis=1)
# then I need to change the timestamp to datetime
df1_bearing2_ch4['timestamp'] = pd.to_datetime(df1_bearing2_ch4['timestamp'], format='%Y.%m.%d.%H.%M.%S')
# then i am going to need to label, now the thing is, each bearing has its own labeling so i am going to need to do it individually
df1_bearing2_ch4['label'] = np.where(
    df1_bearing2_ch4['timestamp'] <= '2003-11-17 19:42:30', 0, np.nan)

df1_bearing2_ch4 = df1_bearing2_ch4.dropna(subset=['label'])

## Dataset 1 bearing 3

In [7]:
#first i need to create the dataframe by dropping the other columns
df1_bearing3_ch5 = df1.drop(["bearing1_ch1","bearing1_ch2","bearing2_ch3","bearing2_ch4","bearing3_ch6","bearing4_ch7","bearing4_ch8","index"], axis=1)
# then I need to change the timestamp to datetime
df1_bearing3_ch5['timestamp'] = pd.to_datetime(df1_bearing3_ch5['timestamp'], format='%Y.%m.%d.%H.%M.%S')
# then i am going to need to label, now the thing is, each bearing has its own labeling so i am going to need to do it individually

df1_bearing3_ch5['label']= np.where( df1_bearing3_ch5['timestamp'] <= '2003-11-21 17:16:56', 0,
np.where( (df1_bearing3_ch5['timestamp'] >= '2003-11-22 18:16:56') 
& 
(df1_bearing3_ch5['timestamp'] <= '2003-11-24 19:47:32'),1,
np.nan))

df1_bearing3_ch5 = df1_bearing3_ch5.dropna(subset=['label'])

#__________________________________________________________________


df1_bearing3_ch6 = df1.drop(["bearing1_ch1","bearing1_ch2","bearing2_ch3","bearing2_ch4","bearing3_ch5","bearing4_ch7","bearing4_ch8","index"], axis=1)
# then I need to change the timestamp to datetime
df1_bearing3_ch6['timestamp'] = pd.to_datetime(df1_bearing3_ch6['timestamp'], format='%Y.%m.%d.%H.%M.%S')
# then i am going to need to label, now the thing is, each bearing has its own labeling so i am going to need to do it individually

df1_bearing3_ch6['label'] = np.where( df1_bearing3_ch6['timestamp'] <= '2003-11-21 17:16:56', 0,
np.where( (df1_bearing3_ch6['timestamp'] >= '2003-11-22 18:16:56') 
& 
(df1_bearing3_ch6['timestamp'] <= '2003-11-24 19:47:32'),1,
np.nan))

df1_bearing3_ch6 = df1_bearing3_ch6.dropna(subset=['label'])

## Dataset 1 bearing 4

In [8]:
#first i need to create the dataframe by dropping the other columns
df1_bearing4_ch7 = df1.drop(["bearing1_ch1","bearing1_ch2","bearing2_ch3","bearing2_ch4","bearing3_ch5","bearing3_ch6","bearing4_ch8","index"], axis=1)
# then I need to change the timestamp to datetime
df1_bearing4_ch7['timestamp'] = pd.to_datetime(df1_bearing4_ch7['timestamp'], format='%Y.%m.%d.%H.%M.%S')
# then i am going to need to label, now the thing is, each bearing has its own labeling so i am going to need to do it individually

df1_bearing4_ch7['label'] = np.where( df1_bearing4_ch7['timestamp'] <= '2003-11-17 19:42:30', 0,
np.where( (df1_bearing4_ch7['timestamp'] >= '2003-11-20 18:59:03') 
& 
(df1_bearing4_ch7['timestamp'] <= '2003-11-24 19:47:32'),1,
np.nan))

df1_bearing4_ch7 = df1_bearing4_ch7.dropna(subset=['label'])

#__________________________________________________________________

df1_bearing4_ch8 = df1.drop(["bearing1_ch1","bearing1_ch2","bearing2_ch3","bearing2_ch4","bearing3_ch5","bearing3_ch6","bearing4_ch7","index"], axis=1)
# then I need to change the timestamp to datetime
df1_bearing4_ch8['timestamp'] = pd.to_datetime(df1_bearing4_ch8['timestamp'], format='%Y.%m.%d.%H.%M.%S')
# then i am going to need to label, now the thing is, each bearing has its own labeling so i am going to need to do it individually

df1_bearing4_ch8['label'] = np.where( df1_bearing4_ch8['timestamp'] <= '2003-11-17 19:42:30', 0,
np.where( (df1_bearing4_ch8['timestamp'] >= '2003-11-20 18:59:03') 
& 
(df1_bearing4_ch8['timestamp'] <= '2003-11-24 19:47:32'),1,
np.nan))

df1_bearing4_ch8 = df1_bearing4_ch8.dropna(subset=['label'])

# Exporting X_train1 and y_train1

In [9]:
# Rename columns for df1 dataframes
df1_bearing1_ch1.rename(columns={'bearing1_ch1': 'value'}, inplace=True)
df1_bearing1_ch2.rename(columns={'bearing1_ch2': 'value'}, inplace=True)
df1_bearing2_ch3.rename(columns={'bearing2_ch3': 'value'}, inplace=True)
df1_bearing2_ch4.rename(columns={'bearing2_ch4': 'value'}, inplace=True)
df1_bearing3_ch5.rename(columns={'bearing3_ch5': 'value'}, inplace=True)
df1_bearing3_ch6.rename(columns={'bearing3_ch6': 'value'}, inplace=True)
df1_bearing4_ch7.rename(columns={'bearing4_ch7': 'value'}, inplace=True)
df1_bearing4_ch8.rename(columns={'bearing4_ch8': 'value'}, inplace=True)
# List of all dataframes with their names
dataframes = [
    ('df1_bearing1_ch1', df1_bearing1_ch1),
    ('df1_bearing1_ch2', df1_bearing1_ch2),
    ('df1_bearing2_ch3', df1_bearing2_ch3),
    ('df1_bearing2_ch4', df1_bearing2_ch4),
    ('df1_bearing3_ch5', df1_bearing3_ch5),
    ('df1_bearing3_ch6', df1_bearing3_ch6),
    ('df1_bearing4_ch7', df1_bearing4_ch7),
    ('df1_bearing4_ch8', df1_bearing4_ch8)
]

In [11]:
import numpy as np
import pandas as pd

def create_windows(df, window_size=2048, overlap=0, 
                   value_col='value', label_col='label', 
                   group_col='timestamp'):
    
    X, y = [], []
    step = int(window_size * (1 - overlap))
    
    for group_key, group in df.groupby(group_col):
        values = group[value_col].values
        label = group[label_col].iloc[0]
        
        for start in range(0, len(values) - window_size + 1, step):
            window = values[start:start+window_size]
            X.append(window.reshape(-1, 1))
            y.append(label)
    
    return np.array(X), np.array(y)


# Process all dataframes
X_list1, y_list1 = [], []

for name, df in dataframes:
    print(f"Processing {name}... ", end='')
    X, y = create_windows(df, window_size=2048, overlap=0, value_col='value')
    X_list1.append(X)
    y_list1.append(y)
    print(f"Created {X.shape[0]} windows")

# Combine all windows
X_train1 = np.concatenate(X_list1, axis=0)
y_train1 = np.concatenate(y_list1, axis=0)

print(f"\nFinal combined shape: X={X_train1.shape}, y={y_train1.shape}")
print(f"Total windows: {len(X_train1)}")
print(f"Label distribution: {np.unique(y_train1, return_counts=True)}")

Processing df1_bearing1_ch1... Created 12510 windows
Processing df1_bearing1_ch2... Created 12510 windows
Processing df1_bearing2_ch3... Created 12510 windows
Processing df1_bearing2_ch4... Created 12510 windows
Processing df1_bearing3_ch5... Created 19020 windows
Processing df1_bearing3_ch6... Created 19020 windows
Processing df1_bearing4_ch7... Created 17520 windows
Processing df1_bearing4_ch8... Created 17520 windows

Final combined shape: X=(123120, 2048, 1), y=(123120,)
Total windows: 123120
Label distribution: (array([0., 1.]), array([108080,  15040]))

In [12]:
np.save('X_train1_no_overlap.npy', X_train1)
np.save('y_train1_no_overlap.npy', y_train1)

## Dataset 2 bearing 1

In [5]:
#first i need to create the dataframe by dropping the other columns
df2_bearing1 = df2.drop(["bearing2","bearing3","bearing4", "index"], axis=1)
# then I need to change the timestamp to datetime
df2_bearing1['timestamp'] = pd.to_datetime(df2_bearing1['timestamp'], format='%Y.%m.%d.%H.%M.%S')
# then i am going to need to label, now the thing is, each bearing has its own labeling so i am going to need to do it individually
df2_bearing1['label'] = np.where( df2_bearing1['timestamp'] <= '2004-02-16 22:52:39', 0,
np.where( (df2_bearing1['timestamp'] >= '2004-02-17 07:12:39') 
& 
(df2_bearing1['timestamp'] <= '2004-02-19 00:52:39'),1,
np.nan))
         
df2_bearing1 = df2_bearing1.dropna(subset=['label'])

## Dataset 2 bearing 2

In [6]:
#first i need to create the dataframe by dropping the other columns
df2_bearing2 = df2.drop(["bearing1","bearing3","bearing4", "index"], axis=1)
# then I need to change the timestamp to datetime
df2_bearing2['timestamp'] = pd.to_datetime(df2_bearing2['timestamp'], format='%Y.%m.%d.%H.%M.%S')
# then i am going to need to label, now the thing is, each bearing has its own labeling so i am going to need to do it individually
df2_bearing2['label'] = np.where(
    df2_bearing2['timestamp'] <= '2004-02-16 22:52:39', 0, np.nan)
         
df2_bearing2 = df2_bearing2.dropna(subset=['label'])

## Dataset 2 bearing 3

In [7]:
#first i need to create the dataframe by dropping the other columns
df2_bearing3 = df2.drop(["bearing1","bearing2","bearing4", "index"], axis=1)
# then I need to change the timestamp to datetime
df2_bearing3['timestamp'] = pd.to_datetime(df2_bearing3['timestamp'], format='%Y.%m.%d.%H.%M.%S')
# then i am going to need to label, now the thing is, each bearing has its own labeling so i am going to need to do it individually
df2_bearing3['label'] = np.where(
    df2_bearing3['timestamp'] <= '2004-02-16 22:52:39', 0, np.nan)
         
df2_bearing3 = df2_bearing3.dropna(subset=['label'])

## Dataset 2 bearing 4

In [8]:
#first i need to create the dataframe by dropping the other columns
df2_bearing4 = df2.drop(["bearing1","bearing2","bearing3", "index"], axis=1)
# then I need to change the timestamp to datetime
df2_bearing4['timestamp'] = pd.to_datetime(df2_bearing4['timestamp'], format='%Y.%m.%d.%H.%M.%S')
# then i am going to need to label, now the thing is, each bearing has its own labeling so i am going to need to do it individually
df2_bearing4['label'] = np.where(
    df2_bearing4['timestamp'] <= '2004-02-16 22:52:39', 0, np.nan)
         
df2_bearing4 = df2_bearing4.dropna(subset=['label'])

# Exporting X_train2 and y_train2

In [9]:
df2_bearing1.rename(columns={'bearing1': 'value'}, inplace=True)
df2_bearing2.rename(columns={'bearing2': 'value'}, inplace=True)
df2_bearing3.rename(columns={'bearing3': 'value'}, inplace=True)
df2_bearing4.rename(columns={'bearing4': 'value'}, inplace=True)

# List of all dataframes with their names
dataframes = [
    ('df2_bearing1', df2_bearing1),
    ('df2_bearing2', df2_bearing2),
    ('df2_bearing3', df2_bearing3),
    ('df2_bearing4', df2_bearing4)
]

In [10]:
import numpy as np
import pandas as pd

def create_windows(df, window_size=2048, overlap=0, 
                   value_col='value', label_col='label', 
                   group_col='timestamp'):
    
    X, y = [], []
    step = int(window_size * (1 - overlap))
    
    for group_key, group in df.groupby(group_col):
        values = group[value_col].values
        label = group[label_col].iloc[0]
        
        for start in range(0, len(values) - window_size + 1, step):
            window = values[start:start+window_size]
            X.append(window.reshape(-1, 1))
            y.append(label)
    
    return np.array(X), np.array(y)


# Process all dataframes
X_list2, y_list2 = [], []

for name, df in dataframes:
    print(f"Processing {name}... ", end='')
    X, y = create_windows(df, window_size=2048, overlap=0, value_col='value')
    X_list2.append(X)
    y_list2.append(y)
    print(f"Created {X.shape[0]} windows")

# Combine all windows
X_train2 = np.concatenate(X_list2, axis=0)
y_train2 = np.concatenate(y_list2, axis=0)

print(f"\nFinal combined shape: X={X_train2.shape}, y={y_train2.shape}")
print(f"Total windows: {len(X_train2)}")
print(f"Label distribution: {np.unique(y_train2, return_counts=True)}")

Processing df2_bearing1... Created 9020 windows
Processing df2_bearing2... Created 6510 windows
Processing df2_bearing3... Created 6510 windows
Processing df2_bearing4... Created 6510 windows

Final combined shape: X=(28550, 2048, 1), y=(28550,)
Total windows: 28550
Label distribution: (array([0., 1.]), array([26040,  2510]))

In [11]:
np.save('X_train2_no_overlap.npy', X_train2)
np.save('y_train2_no_overlap.npy', y_train2)

## Dataset 3 bearing 1

In [3]:
#first i need to create the dataframe by dropping the other columns
df3_bearing1 = df3.drop(["bearing2","bearing3","bearing4", "index"], axis=1)
# then I need to change the timestamp to datetime
df3_bearing1['timestamp'] = pd.to_datetime(df3_bearing1['timestamp'], format='%Y.%m.%d.%H.%M.%S')
# then i am going to need to label, now the thing is, each bearing has its own labeling so i am going to need to do it individually
df3_bearing1['label'] = np.where(
    df3_bearing1['timestamp'] <= '2004-04-12 10:51:57', 0, np.nan)
         
df3_bearing1 = df3_bearing1.dropna(subset=['label'])

## Dataset 3 bearing 2

In [4]:
#first i need to create the dataframe by dropping the other columns
df3_bearing2 = df3.drop(["bearing1","bearing3","bearing4", "index"], axis=1)
# then I need to change the timestamp to datetime
df3_bearing2['timestamp'] = pd.to_datetime(df3_bearing2['timestamp'], format='%Y.%m.%d.%H.%M.%S')
# then i am going to need to label, now the thing is, each bearing has its own labeling so i am going to need to do it individually
df3_bearing2['label'] = np.where(
    df3_bearing2['timestamp'] <= '2004-04-12 10:51:57', 0, np.nan)
         
df3_bearing2 = df3_bearing2.dropna(subset=['label'])

## Dataset 3 bearing 3

In [5]:
#first i need to create the dataframe by dropping the other columns
df3_bearing3 = df3.drop(["bearing1","bearing2","bearing4", "index"], axis=1)
# then I need to change the timestamp to datetime
df3_bearing3['timestamp'] = pd.to_datetime(df3_bearing3['timestamp'], format='%Y.%m.%d.%H.%M.%S')
# then i am going to need to label, now the thing is, each bearing has its own labeling so i am going to need to do it individually
df3_bearing3['label'] = np.where( df3_bearing3['timestamp'] <= '2004-04-12 10:51:57', 0,
np.where( (df3_bearing3['timestamp'] >= '2004-04-15 20:52:55') 
& 
(df3_bearing3['timestamp'] <= '2004-04-17 23:52:55'),1,
np.nan))
         
df3_bearing3 = df3_bearing3.dropna(subset=['label'])

## Dataset 3 bearing 4

In [6]:
#first i need to create the dataframe by dropping the other columns
df3_bearing4 = df3.drop(["bearing1","bearing2","bearing3", "index"], axis=1)
# then I need to change the timestamp to datetime
df3_bearing4['timestamp'] = pd.to_datetime(df3_bearing4['timestamp'], format='%Y.%m.%d.%H.%M.%S')
# then i am going to need to label, now the thing is, each bearing has its own labeling so i am going to need to do it individually
df3_bearing4['label'] = np.where(
    df3_bearing4['timestamp'] <= '2004-04-12 10:51:57', 0, np.nan)
         
df3_bearing4 = df3_bearing4.dropna(subset=['label'])

# Exporting X_train3 and y_train3

In [7]:
# Rename columns for df3 dataframes
df3_bearing1.rename(columns={'bearing1': 'value'}, inplace=True)
df3_bearing2.rename(columns={'bearing2': 'value'}, inplace=True)
df3_bearing4.rename(columns={'bearing4': 'value'}, inplace=True)
# List of all dataframes with their names
dataframes = [
    ('df3_bearing1', df3_bearing1),
    ('df3_bearing2', df3_bearing2),
    ('df3_bearing4', df3_bearing4)
]

In [8]:
import numpy as np
import pandas as pd

def create_windows(df, window_size=2048, overlap=0, 
                   value_col='value', label_col='label', 
                   group_col='timestamp'):
    
    X, y = [], []
    step = int(window_size * (1 - overlap))
    
    for group_key, group in df.groupby(group_col):
        values = group[value_col].values
        label = group[label_col].iloc[0]
        
        for start in range(0, len(values) - window_size + 1, step):
            window = values[start:start+window_size]
            X.append(window.reshape(-1, 1))
            y.append(label)
    
    return np.array(X), np.array(y)


# Process all dataframes
X_list3, y_list3 = [], []

for name, df in dataframes:
    print(f"Processing {name}... ", end='')
    X, y = create_windows(df, window_size=2048, overlap=0, value_col='value')
    X_list3.append(X)
    y_list3.append(y)
    print(f"Created {X.shape[0]} windows")

# Combine all windows
X_train3 = np.concatenate(X_list3, axis=0)
y_train3 = np.concatenate(y_list3, axis=0)

print(f"\nFinal combined shape: X={X_train3.shape}, y={y_train3.shape}")
print(f"Total windows: {len(X_train3)}")
print(f"Label distribution: {np.unique(y_train3, return_counts=True)}")

Processing df3_bearing1... Created 55510 windows
Processing df3_bearing2... Created 55510 windows
Processing df3_bearing4... Created 55510 windows

Final combined shape: X=(166530, 2048, 1), y=(166530,)
Total windows: 166530
Label distribution: (array([0.]), array([166530]))

In [9]:
np.save('X_train3_no_overlap.npy', X_train3)
np.save('y_train3_no_overlap.npy', y_train3)

## Labeled timelines
***df1_bearing3_ch5_features and df1_bearing3_ch6_features***\
0: start to 2003.11.21.17.16.56\
1: 2003.11.22.18.16.56 - 2003.11.24.19.47.32\
***df1_bearing4_ch7_features and df1_bearing4_ch8_features***\
0: start to 2003.11.17.19.42.30\
1: 2003.11.20.18.59.03 - 2003.11.24.19.47.32\
***df2_bearing1***\
0: start to 2004.02.16.22.52.39\
1: 2004.02.17.07.12.39 - 2004.02.19.00.52.39\
***df3_bearing3***\
0: start to 2004.04.12.10.51.57\
1: 2004.04.15.20.52.55 - 2004.04.17.23.52.55\
***df1 general healthy***\
0: start -2003.11.17.19.42.30\
***df2 general healthy***\
0: start -2004.02.16.22.52.39\
***df3 general healthy***\
0: start -2004.04.12.10.51.57

# X_test and y_test

In [10]:
# Rename columns for df3 dataframes

df3_bearing3.rename(columns={'bearing3': 'value'}, inplace=True)

# List of all dataframes with their names
dataframes = [
    ('df3_bearing3', df3_bearing3)
]

In [11]:
df3_bearing3.head()

            timestamp  value  label
0 2004-03-04 09:27:46  0.039    0.0
1 2004-03-04 09:27:46 -0.061    0.0
2 2004-03-04 09:27:46 -0.007    0.0
3 2004-03-04 09:27:46  0.022    0.0
4 2004-03-04 09:27:46 -0.127    0.0

In [12]:
import numpy as np
import pandas as pd

def create_windows(df, window_size=2048, overlap=0, 
                   value_col='value', label_col='label', 
                   group_col='timestamp'):
    
    X, y = [], []
    step = int(window_size * (1 - overlap))
    
    for group_key, group in df.groupby(group_col):
        values = group[value_col].values
        label = group[label_col].iloc[0]
        
        for start in range(0, len(values) - window_size + 1, step):
            window = values[start:start+window_size]
            X.append(window.reshape(-1, 1))
            y.append(label)
    
    return np.array(X), np.array(y)


# Process all dataframes
X_list3, y_list3 = [], []

for name, df in dataframes:
    print(f"Processing {name}... ", end='')
    X, y = create_windows(df, window_size=2048, overlap=0, value_col='value')
    X_list3.append(X)
    y_list3.append(y)
    print(f"Created {X.shape[0]} windows")

# Combine all windows
X_test3 = np.concatenate(X_list3, axis=0)
y_test3 = np.concatenate(y_list3, axis=0)

print(f"\nFinal combined shape: X={X_test3.shape}, y={y_test3.shape}")
print(f"Total windows: {len(X_test3)}")
print(f"Label distribution: {np.unique(y_test3, return_counts=True)}")

Processing df3_bearing3... Created 58580 windows

Final combined shape: X=(58580, 2048, 1), y=(58580,)
Total windows: 58580
Label distribution: (array([0., 1.]), array([55510,  3070]))

In [13]:
np.save('X_test3_no_overlap.npy', X_test3)
np.save('y_test3_no_overlap.npy', y_test3)